html,
body {
    height: 100%;
    background-color: floralwhite;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 5px 15px 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    margin-bottom: 0;
}

.thumbnail img {
    width: 100%;
}

#layout-navbar-collapse ul {
    margin-left: 15px;
}

#layout-navbar-collapse > ul > li.active > a {
    background: none;
    color: #e67e22;
    /*border-bottom: #e67e22 1px solid;*/
}

/*** begin news-header**/
.page-label i {
    margin-right: 6px;
}

.news-header-ul {
    list-style-position: inside;
    padding-left: 0;
    padding-right: 0;
}

.news-header-ul li {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.news-header-ul li a {
    color: #1a1a1a;
    font-size: 1em;
    line-height: 1.6em;
}

.news-header-ul li a:hover {
    text-decoration: none;
    color: darkred;
}

@media(max-width:767px) {
    .news-header-ul li .pull-right {
        display: none;
    }
}
/*** end news-header**/
.nav-tabs > li > a {
    color: #1a1a1a;
}

.nav-tabs > li > a:hover {
    background: none;
    border-color: white;
    color: #e67e22;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #e67e22;
    cursor: default;
    border-color: white white #e67e22 white;
}


/*** timeline ***/
.timeline {
    padding-left: 0;
}
.timeline > ul {
    padding: 0;
}

.timeline li {
    list-style: circle;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    line-height: 24px;
}

.timeline li span.glyphicon {
    font-size: 6px;
    color: gainsboro;
}

.timeline li:hover span.glyphicon {
    color: darkred;
}

.timeline li a {
    color: #1a1a1a;
    font-size: 12px;
}

.timeline li a:hover {
    color: darkred;
}

.timeline li.title {
    line-height: 35px;
}

.timeline li.title a {
    font-size: 1.3em;
    color: darkred;
}
/** end timeline **/

/** breadcrumb **/
.breadcrumb {
    margin-top: 12px;
    border-bottom: 2px solid #e67e22;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.breadcrumb li {
    line-height: 30px;
}

.breadcrumb li a {
    color: black;
    text-decoration: none;
}

.breadcrumb li a:hover {
    color: #e67e22;
}

.breadcrumb li.active {
    line-height: 30px;
    color: #e67e22;
}

/** news list **/
.media-news {
    margin-top: 18px;
}

.media-news .media-heading {
    line-height: 24px;
}

.media-news .media-news-body {
    padding-top: 10px;
    padding-left: 0;
    line-height: 24px;
    font-size: 0.9em;
}

@media(max-width:767px) {
    .media-news .media-news-body {
        padding-left: 15px;
    }
}

.media-news .media-news-body p.desc {
    text-align: justify;
    text-indent: 2em;
}

.media-news .media-news-body p.bottom {
    font-size: 0.8em;
}

.media-news .media-news-body a {
    color: #1d2122;
}

.media-news .media-news-body p.bottom i {
    margin-right: 10px;
}

#head-pagination li a {
    color: #e67e22;
}

#head-pagination li a,#head-pagination li span {
    border-color: gainsboro;
}

#head-pagination li.active a {
    background-color: #e67e22;
    border-color: #e67e22;
    color: whitesmoke;
}